* {
    box-shadow: none !important;
    border-radius: 0px !important;
}
body,html {
    height: 99%;
    width: 99%;
    margin: 0px;
    padding: 0px;
}
.form-signin {
    padding: 15px;
    margin: 0 auto;
}
.panel-login {
    margin-top: 20%;
    max-width: 350px;
}
.panel-primary > .panel-login-header {
    font-size: 20px;
    font-weight: 400;
    z-index: 5;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="username"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.error-alert
{
    display: inline-block;
    margin-left: 45%;
}
.top-header
{
    margin-left: -30px;
    margin-right: -30px;
}
/*.tape-administration-nav
{
    margin-left: -20px;
    margin-top: 20%;
    background-color: azure;
    display: block;
}
.tape-administration-nav>li
{
    width: 100%;
}
.tape-administration-container
{
    padding-left: 10%;
    margin-top: 4%;
}*/


/*test*/

.sideNavRow {
    height: 90%;
}

/* vertical nav */
/* make sidebar nav vertical */
@media ( min-width : 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-bottom: 12px;
    }
}

.maxHeight
{
    height: 98%;
}
.breadcrumb > li + li:before {
    color: #ccc;
    content: "> ";
    font-weight: bold;
    padding: 0 5px;
}

/*Top Header Navbar*/
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: #2980B9;
    border-width: 0px;
    border-radius: 0px;
    background-image: none !important;
    box-shadow: none;
}
#custom-bootstrap-menu.navbar-default .navbar-header{
    padding:0.2vw 0.5vw;
    background-color: #2C3E50;
}
#custom-bootstrap-menu.navbar-default .navbar-brand {
    background-color: #2C3E50;
    color:#ECF0F1;
}
#custom-bootstrap-menu.navbar-default .navbar-nav{
    padding-left:1vw;
}
#custom-bootstrap-menu.navbar-default .navbar-nav > li{
    padding-top:0.2vw;
    padding-bottom:0.2vw;
}
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > li:focus,
#custom-bootstrap-menu.navbar-default .navbar-nav > li:hover {
    /*color: rgba(35, 38, 41, 1);
    background-color: rgba(50, 118, 177, 1);*/
    color: #2980B9;
    background-color:#ECF0F1;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
/*#custom-bootstrap-menu.navbar-default .navbar-nav>.active,
#custom-bootstrap-menu.navbar-default .navbar-nav> .active:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav> .active:focus,
{
    color: #2C3E50;
    background-color:#ECF0F1;
}*/
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:focus{
    background-image: none;
    box-shadow: none;
}
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a{
    background-color: #1e435f;
}
#custom-bootstrap-menu.navbar-default .navbar-nav > li.active:focus,
#custom-bootstrap-menu.navbar-default .navbar-nav > li.active:hover{

}
#custom-bootstrap-menu.navbar-default .navbar-nav > .active{
    background-color:#2C3E50;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #0d3d66;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #0d3d66;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #0d3d66;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #3276b1;
}


.form-control{
    border: 2px solid #ccc;
    border-radius: 0px !important;
}

#loader
{
background:url(bg_apple_little.gif) no-repeat center center;
height:200px;
width:200px;
}

#deleteIcon > i:hover
{
    color: #ff3100;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
#deleteIcon > i:active
{
    color: #8f2708;
}

#successIcon > i:hover
{
    color: #6B8F1B;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

#successIcon > i:active
{
    color: #007509;
}

.remove{
    background: #C76868;
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;
}
.add{
    background: #0eff10;
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;
}
